@use "../base";

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #000;
  .footer-top {
    padding: 15px 0;
    &__register {
      @include base.d-flex;
      justify-content: space-between;
      @include base.breakpoint(sm) {
        display: block;
      }
    }
    .title-regis {
      text-transform: uppercase;
      color: #fff;
      font-size: 1.7rem;
      width: 30%;
      @include base.breakpoint(lg) {
        font-size: 1.6rem;
      }
      @include base.breakpoint(sm) {
        width: 100%;
        margin-bottom: 12px;
      }
    }
    .form-send-mail {
      width: 65%;
      @include base.breakpoint(sm) {
        width: 100%;
      }
      .form-group {
        position: relative;
      }
      input[type='email'] {
        padding: 12px 100px 12px 36px;
        font-size: 1.4rem;
        border: none;
        width: 100%;
        background: #fff;
        &:focus-visible {
          border: none;
          outline: none;
        }
      }
      label.email {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
      }
      .btn-send-mail {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
        font-size: 1.2rem !important;
      }
    }
    .social-footer {
      @include base.breakpoint(md) {
        margin-top: 15px;
      }
      a {
        font-size: 2.8rem;
        color: #fff;
        @include base.breakpoint(sm) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .line {
    border: 1px solid #fff;
  }

  .footer-content {
    color: #fff;
    font-size: 1.4rem;
    padding: 25px 0 10px 0;
    
    .information {
      p {
        padding: 8px 0;
        line-height: 20px;
      }
      
      li {
        padding: 8px 0;
        line-height: 20px;
      }

      li i {
        padding-right: 4px;
      }
    }

    .tab-link {
      h4 {
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 14px;
        @include base.breakpoint(md) {
          margin-top: 20px;
        }
      }
      ul {
        list-style: disc;
        a {
          display: block;
          padding: 6px 0;
          color: #fff;
          &:hover {
            color: base.$colorShopHover;
          }
        }
      }
    }

    .title-footer h4 {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 14px;
      @include base.breakpoint(md) {
        margin-top: 20px;
      }
    }

    .footer-support {
      li {
        padding: 6px 0;
        line-height: 20px;
      }
      a {
        color: base.$txt-primary;
      }
    }
  }
}