@use "../base";

.filter-sort-block {
    margin-bottom: 20px;
    .filter-sort {
        &__list--product {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            @include base.breakpoint(xl) {
                grid-template-columns: repeat(4, 1fr);
            }
            @include base.breakpoint(md) {
                grid-template-columns: repeat(3, 1fr);
            }
            @include base.breakpoint(sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    
    .filter-sort-bottom {
        text-align: center;
        margin-top: 20px;
        &__btn {
            min-width: 335px;
            padding: 5px 10px;
            font-size: 1.5rem;
            font-weight: 600;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 2px 8px 1px #ccc;
            &:hover {
                color: base.$txt-primary;
                border-color: base.$txt-primary;
                background-color: rgba($color: base.$txt-primary, $alpha: 0.1);
            }
        }
    }
}