@use "../base";

.section_collection_group {
  margin-top: 14px;

  .top-head {
    @include base.d-flex;
    justify-content: space-between;
    margin-bottom: 15px;
    @include base.breakpoint(md) {
      display: block;
    }
    h2 {
      position: relative;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 12px;
      @include base.breakpoint(md) {
        font-size: 1.8rem;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #000;
      }
    }
    .menu-col {
      flex-wrap: wrap;
      gap: 6px;
      @include base.breakpoint(md) {
        margin-top: 16px;
      }
      .menu-item {
        padding: 8px 14px;
        border: 1px solid #ededed;
        border-radius: 5px;
        background: #ededed;
        font-size: 1.6rem;
        transition: background-color ease-in-out 0.3s;
        cursor: pointer;
        
        &:hover {
          background-color: base.$bg-primary;
          a {
            color: base.$color-white;
          }
        }

        &.active {
          background-color: base.$bg-primary;
          pointer-events: none;
          a {
            color: base.$color-white;
          }
        }
      }
    }
  }

  .block-list-product {
    .box-pro-prices {
      display: block;
    }
  }

  .block-collection-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    @include base.breakpoint(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include base.breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include base.breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    .item {
      border: 1px solid #ededed;
      border-radius: 0;
      &:hover {
        filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
      }
    }
  }

  // Bottom
  .collection-bottom {
    padding-top: 40px;
    padding-bottom: 14px;
    @include base.breakpoint(md) {
      padding-top: 30px;
    }
    .link {
      text-align: center;
      a {
        font-size: 1.4rem;
        background-color: base.$bg-primary;
        color: base.$color-white;
        padding: 12px 62px;
        border-radius: 5px;
        &:hover {
          background-color: #fff;
          color: base.$txt-primary;
          transition: background-color linear 0.3s;
          border: 1px solid base.$txt-primary;
        }
        i {
          font-size: 1rem;
        }
      }
    }
  }

  // section group new, product hot sale
  .block-group {
    margin-top: 14px;
    position: relative;

    .top-head {
      margin-bottom: 15px;
      h2 {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 12px;
        @include base.breakpoint(sm) {
          font-size: 1.8rem;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 2px;
          background: #000;
        }
      }
      a {
        font-size: 1.4rem;
        color: #828282;
      }
      i {
        font-size: 1rem;
      }
    }
  
    .btn-arrow {
      color: base.$color-dark;
      padding: 0;
      &:hover {
        color: #555;
      }
    }
    .btn-arrow-left {
      left: -8px;
    }
    .btn-arrow-right {
      right: -8px;
    }
    &:hover .btn-arrow {
      display: block;
    }
    .block-list-product {
      position: relative;
      overflow: hidden;
      padding-left: 5px;
      padding-bottom: 20px;
      .list-product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        transition: margin-left 0.3s linear;
        .item {
          margin-right: 12px;
        }
      }
      .list-circle {
        bottom: 0;
        .item {
          width: 10px;
          height: 10px;
          border-color: base.$txt-primary;
          &.active {
            background-color: base.$txt-primary;
          }
        }
      }
    }
  }
}