@use "../base";

.section-home-blog {
  margin-top: 14px;
  .top-head {
    margin-bottom: 15px;
    h2 {
      position: relative;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 12px;
      @include base.breakpoint(xl) {
        font-size: 1.8rem;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #000;
      }
    }
    a {
      font-size: 1.4rem;
      color: #828282;
    }
    i {
      font-size: 1rem;
    }
  }
  .item-blog:last-child {
    @include base.breakpoint(lg) {
      margin-top: 14px;
    }
  }
  .blog-body {
    .content {
      margin-bottom: 15px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .title {
      @include base.d-webkit-box();
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: 12px;
      line-height: 20px;
    }
    .desc {
      @include base.d-webkit-box(3);
      font-size: 1.4rem;
      color: base.$txt-dark;
      margin-top: 8px;
      line-height: 20px;
    }
    .time {
      margin-top: 8px;
      font-size: 1.3rem;
      .icon {
        font-size: 1.3rem;
        margin-right: 6px;
      }
    }

    .item {
      margin-bottom: 12px;
      .title {
        font-size: 1.4rem;
      }
    }
  }
}